---
layout: default
---

{% assign about = site.data.copy.global.about %}
{% assign welcome = site.data.copy.global.welcome %}

<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-lg-5 col-md-6 col-sm-12">
		      <!-- <h2>{{ welcome }}</h2> -->

      <p>{{ about }}</p>
		<!-- <a href="/get-involved" class="btn btn-primary">Get Involved <i class="fa fa-arrow-right"></i></a> -->
    </div>
    <div class="col-md-6 col-sm-12 home-hero-logo-wrap">
      <img class="home-hero-logo" src="{{ '/assets/images/optimized/wsdsa-logo-homepage.png' | relative_url }}" alt="West Sound DSA logo" width="1000" height="549" decoding="async" />
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12 text-center">
      <i class="fa fa-arrow-down my-5 text-red"></i>
    </div>
  </div> -->
  <div class="row">
    <!-- <div class="col-12">
      <h3 class="my-5">Recent Posts</h3>
    </div> -->
	<div class="col-12 my-4"></div>
	{% if site.posts.size == 0 %}
	<div class="col-12">
		<h4> West Sound DSA Stands In Solidarity With The Transgender Community
		<a href="/blog" class="btn btn-primary">Read More <i class="fa fa-arrow-right"></i></a></h3>
	</div>
    {% endif %}
    <div class="col-12">
      <div class="home-post-list">
        {% for post in site.posts limit:4 %}
        {% assign post_image = post.thumbnail_image | default: post.image | default: '/assets/images/optimized/wsdsa-logo-post-fallback.png' %}
        {% assign has_post_image = post.thumbnail_image | default: post.image %}
        {% assign post_image_alt = post.image_alt | default: post.title | append: ' thumbnail' %}
        <article class="home-post-item">
          <a class="home-post-media{% unless has_post_image %} home-post-media-fallback{% endunless %}" href="{{ post.url | relative_url }}" aria-label="{{ post.title }}">
            {% if post_image contains '://' %}
              <img class="home-post-thumbnail" src="{{ post_image }}" alt="{{ post_image_alt }}" width="960" height="720" loading="lazy" decoding="async">
            {% else %}
              <img class="home-post-thumbnail" src="{{ post_image | relative_url }}" alt="{{ post_image_alt }}" width="960" height="720" loading="lazy" decoding="async">
            {% endif %}
          </a>
          <div class="home-post-body">
            <h6 class="my-0 text-black-tint-2">{{ post.date | date: "%b %-d, %Y" }}</h6>
            <a class="my-0 article-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <p>{{ post.short_description }}</p>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
